body{
  background:lightgray;
  font: 14px/1.3 Arial, Helvetica, sans-serif;
}
header{
  background:red;
  color:white;
  padding-top:30px
  mid-height:70px

}


Header a{
  color:black
  text-transform: uppercase;
  font-size:15px
}
header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px
}
table{
  border: 2px solid white;
  min-width:50vw;
  margin:auto
}
th{
  border: 2px solid white;
  text-align: center;
  padding: 5px
}
td{
  border: 2px solid white;
  text-align: center;
  padding: 5px;

}
.charge{
  background-color: green;
  text-align: center;
}
.move{
  background-color:"green"
  text-align: center;
}
